@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather", serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.new-year {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.5);
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    background-blend-mode: overlay;
    border-radius: 16px;
}

.new-year-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}



.new-year-content h5 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
}

.new-year-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* 60 off section staer */
.secend-section-container {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;

    margin-top: 90px;
}

.secend-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secend-section-container h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 10px;
}

.secend-section-container p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.secend-section-container h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-container {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* 65% off section end */

/* midnight section start */
.midnight-section-container {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.5);
    background-image: url('./images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-blend-mode: overlay;
    border-radius: 16px;
}

.midnight-content {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    gap: 30px;
}

.midnight-style-img {
    padding: 8%;
}

.midnight-section-container h2 {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;

}

.midnight-section-container p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.btn-style {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

/* midnight section end */

/* new year party section container start hier */
.new-year-party-section-container {
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.new-year-party-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 20px;
}

.text-color-red {
    color: red;

}

.btn {
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    padding: 10px 16px;
    color: #fff;
    font-weight: 700;
}

/* new year party section container  end  */
/* comming soon section start hire  */
.coming-soon-section-container {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
}

.coming-soon-content {
    display: flex;
    margin-top: 100px;
    gap: 40px;
}

.coming-head {
    width: 50%;
}

.coming-title {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 20px;
}

.coming-style {
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

.coming-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.rounded {
    box-sizing: border-box;
    border-radius: 50%;
    border: 20px solid red;
    padding: 20px;
}

/* comming soon section end hire */
/* holiday section start hire  */
.holiday-section-container {
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.holiday-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}

.holiday-head {
    color: rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
}

.holiday-title {
    font-size: 72px;
    font-weight: 900;
    margin-top: 20px;
}

.holiday-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}

.solid-color {
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
}

.gift-box {
    width: 796.46px;
    height: 662.07px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.boy-section {
    width: 424px;
    height: 450px;
    position: relative;
    left: 12.5%;
    top: 7.5%;
}

.discount {
    position: absolute;
    bottom: 30%;
    left: 55%;
    z-index: 1;
}

/* portfolio section style */
.portfolio-section-container {
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 100px;
}

.portfolio-head {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.portfolio-title {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;

}

.portfolio-descrition {
    color: rgba(7, 2, 17, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.cird-section-style {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 48px;
    gap: 20px;
}

/* portfolio section style end */
/* subcription section style hire  */
.subcribe-section-container {
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(255, 0, 0, 0.05);
}

.subcribe-content {
    width: 896px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.img-style {
    margin-top: 25%;
}

.subcribe-title {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
}

.subcribe-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    border: none;
    padding: 10px 150px 10px 10px;
    border-radius: 50px 0px 0px 50px;
    background: #fff;
    color: rgba(7, 2, 17, 0.3);
    font-size: 18px;
    font-weight: 400;
}

.btn-styles {
    border: none;
    padding: 10px 10px;
    background: red;
    border-radius: 0px 50px 50px 0px;
    margin-left: -30px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.footer-section-container {
    width: 1600px;
    height: 609px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgb(7, 2, 17);
    padding: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 50px;

}

.footer-content h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
}

.hr {
    margin: 0 60px;
    border-color: rgba(255, 255, 255, 0.15)
}

.incon-section-style {
    text-align: center;
    margin: 40px;
}

.incon-section-style img {
    margin: 20px;
}

.footer-section-end-style {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.footer-section-end-style h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
}

/* responsive for mobile */
.hide {
    display: none;
}

@media screen and (max-width:576px) {
    .new-year {
        width: 100%;
        height: 100%;
        background: none;
        background-image: url(./images/banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-top: 20px;
        background-blend-mode: overlay;
        border-radius: 16px;
    }

    .new-year-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .new-year-content h5 {
        color: rgb(255, 255, 255);
        font-size: 5vw;
        font-weight: 400;
    }

    .new-year-content h1 {
        color: rgb(255, 255, 255);
        font-size: 10vw;
        font-weight: 400;
    }

    /*65 off setion start */
    .secend-section-container {
        width: 100%;
        height: 100%;

    }

    .secend-section-container h1 {
        color: rgb(255, 0, 0);
        font-size: 8vw;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .secend-section-container p {
        color: rgb(255, 0, 0);
        font-size: 4vw;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .secend-section-container h3 {
        color: rgb(7, 2, 17);
        font-family: Inter;
        font-size: 8vw;
        font-weight: 700;
    }

    .image-container {
        width: 100%;
        height: 100%;
        margin-top: 4vw;
    }

    .secend-content img {
        width: 100%;
        height: 100%;
    }

    /* maidnight section start */
    .midnight-section-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: none;
        background-image: url(./images/Vectorrr.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20vh;
        border-radius: 16px;
    }

    .midnight-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        gap: 10px;
    }

    .midnight-section-container h2 {
        color: rgb(255, 255, 255);
        font-size: 3vw;
        font-weight: 900;
    }

    .midnight-section-container p {
        color: rgba(255, 255, 255, 0.8);
        font-family: Inter;
        font-size: 2vw;
        font-weight: 400;
    }

    .midnight-style-img img {
        width: 80%;
    }

    .btn-style {
        color: #fff;
        text-decoration: none;
        font-size: 2vw;
        font-weight: 700;
    }


    /* welcome 2024 section end */

    /* comming soon responsive */
    .new-year-party-section-container {
        width: 80%;
        height: 80%;
    }

    .new-year-party-content h1 {
        font-size: 16px;
    }

    /* comming soon section */
    .coming-soon-section-container {
        width: 100%;
        height: 100%;

    }

    .coming-soon-content {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .coming-head img {
        width: 100%;
    }

    .coming-head img {
        width: 100%;
    }

    .rounded {
        box-sizing: border-box;
        border-radius: 50%;
        border: 10px solid red;
        padding: 20px;
    }

    /* holiday secton hire */

    .holiday-section-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;

    }

    .holiday-section-content {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .solid-color {
        background: none;
    }

    .gift-box {
        flex-direction: column;

    }

    .gift-box img {
        width: 50%;
        background-position-x: center;
        margin-bottom: 10px;

    }


    .discount {
        flex-direction: column;
        bottom: 10%;
        left: 10%;
    }

    .discount img {
        flex-direction: column;
    }

    .holiday-title {
        font-size: 4vw;
        font-weight: 900;
        margin-top: 20px;
    }

    .holiday-description {
        color: rgba(7, 2, 17, 0.6);
        font-size: 1vw;
        font-weight: 500;
        margin-top: 30px;

    }




    /* subcribe section container */
    .subcribe-section-container {
        width: 80%;
        height: 80%;
        margin-top: 10px;
        border-radius: 15px;
    }

    .img-style {
        margin-top: 2%;
    }


    .subcribe-content {
        width: 100%;
        height: 100%;
    }

    .subcribe-title {
        color: rgb(7, 2, 17);
        font-size: 4vw;
        font-weight: 900;
        margin-top: 2vh;
    }

    .subcribe-description {
        color: rgba(7, 2, 17, 0.6);
        font-size: 3vw;
        font-weight: 400;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    input {
        border: none;
        padding: 10px;
        border-radius: 50px;
        background: #D7BCA1;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        margin-left: 10%;
    }

    .btn-styles {
        border: none;
        padding: 10px 10px;
        background: #FC927A;
        border-radius: 50px;
        margin-left: 35%;
        font-size: 18px;
        color: #474141;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    /* subcribe section container */





    /* The portfolio section */
    .cird-section-style {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    .cird-section-style div img {
        width: 100%;
    }

    .portfolio-section-container {
        width: 100%;

    }

    /* .portfolio-head{
        text-align: center;
    } */

    .portfolio-title {
        font-size: 4vw;
        font-weight: 900;
        /* text-align: center; */
    }

    .portfolio-descrition {
        color: rgba(7, 2, 17, 0.6);
        font-size: 3vw;
        font-weight: 400;
        margin-top: 20px;
        /* text-align: center; */
    }

    /* .cird-section-style div img{
        width: 50%;
    } */
    /* The portfolio section */
    /* footer section style */
    .footer-section-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 100px;
        background: rgb(7, 2, 17);

    }

    .footer-content,
    .footer-section-end-style {
        flex-direction: column;
        gap: 30px;
    }

    .footer-content {
        margin: 0%;
    }

    .incon-section-style {
        margin: 0px;
    }

    .incon-section-style img {
        margin: 0px;
    }


    .footer-section-end-style {
        margin: 0px;
    }

    .footer-section-end-style h1 {
        color: rgb(255, 255, 255);
        font-size: 3vw;
        font-weight: 500;
    }






}